# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
env3/
.venv/
env3.11/
build/
dist/
*.egg-info/

# Docker
*.tar
docker-compose.override.yml

# Logs
*.log
vial.log
db/errorlog.md

# Database
*.db
migrations/
alembic/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Git
*.md
!.gitignore
!.env.example
